.galery{
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
}
.galery:hover{
    border: 2px solid blue;
}
.galery img{
    width: 100%;
    height: auto;
}
.disc{
    padding: 15px;
    text-align: center;
}
p[class*=ds]{
    color: white;
    background-color: blue;
    padding: 20px;
}
h1[class|=heading]{
    color: white;
    background-color:red;
    padding: 20px;
}
div[id ~="div"]{
    color: white;
    background-color: violet;
    padding: 20px;
}
img[title ^=blue]{
    background-color: gray;
    color: white;
    padding: 20px;
}
img[title $=blue]{
    background-color: green;
    color: white;
    padding: 20px;
}

