body{
margin: 0;
}
*{
box-sizing: border-box;
}
#horizontal-menu{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: darkgreen;
}
#horizontal-menu li{
float: left;
}
#horizontal-menu li a{
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}
#horizontal-menu li a:hover:not(.active){
    background-color: rgb(201, 97, 97);
}
.active{
    background-color: gray;
}
.navbar{
overflow: hidden;
background-color: darkblue;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar a{
float: left;
font-size: 16px;
color: brown;
text-align:center;
text-decoration: none;
padding: 14px 16px;
}
.dropdown{
    overflow: hidden;
    float: left;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: green;
}
.dropdown-content{

    display: none;
    position: absolute;
    background-color: beige;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgb(34,234,243);
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.column{
    float: left;
    width: 33.33%;
    background-color: #ccc;
    height: 250px;
}
.column a{
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 16px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
#vertical-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: darkgreen;
    width:25%;
    position: fixed;
    height: 100%;
}
#vertical-menu li a{
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    display: block;
}
#vertical-menu li a.active{
    background-color: rgb(201, 97, 97); 
}
#vertical-menu li a:hover:not(.active){
    background-color: rgb(201, 97, 97);
}


